/* Stili per l'icona di chiusura */
.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 18px;
  color: #f44336;
  background-color: white;
  border: none;
  outline: none;
}

.close-button:hover {
  color: #d32f2f;
}

/* Stili per le immagini nell'elenco */
.image-item {
  position: relative;
  display: inline-block;
  margin: 10px; /* Aumenta lo spazio tra le immagini */
}

/* Stili per le immagini */
.image-item img {
  width: 200px; /* Imposta la larghezza desiderata delle immagini */
  height: 200px; /* Imposta l'altezza desiderata delle immagini */
  object-fit: cover; /* Permette di ridimensionare l'immagine mantenendo l'aspect ratio */
  border: 1px solid #ddd; /* Aggiunge un bordo alle immagini (opzionale) */
}
